@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  background-color: #E4692E;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 25px;
}

/* Hides the "Terms of Service" link */
.gm-style .gm-style-cc {
  display: none;
}

/* Hides the "Map Data" link */
.gm-style .gm-style-mtc {
  display: none;
}

/* Hides the "Keyboard shortcuts" link */
.gm-style .gm-cc-lc {
  display: none;
}

.gm-style img[alt="Google"] {
  display: none
}